
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Merienda:wght@300..900&family=Rajdhani:wght@300;400;500;600;700&display=swap');

/* Stilizare generală pentru navbar */
.navbar {
    background-color: #333; /* Culoarea de fundal */
    overflow: hidden; /* Ascunderea oricăror elemente care ies în afara navbar-ului */
    padding-left: 810px;
    margin-right: 0;
    text-align: left;
    padding-right: auto;
}
body{
    background-color: #1a1e24;
}

/* Stilizare link-uri din navbar */
.navbar a {
    float: left; /* Alinierea link-urilor la stânga */
    display: block; /* Elementele să fie afișate ca blocuri */
    color:white; /* Culoarea textului */
    text-align: center; /* Alinierea textului în centru */
    padding: 14px 16px; /* Spatierea între link-uri */
    text-decoration: none; /* Eliminarea sublinierii */
}

/* Stilizare link-uri la hover */
.navbar a:hover {
    background-color: #ddd; /* Culoare de fundal la hover */
    color: black; /* Schimbarea culorii textului la hover */
}


.titlewrap{
    display: flex;
    background-color: #9DB2BF;
    margin-top: 80PX;
    outline-style:solid;
}
.titleh1{
    font-size: 90px;
    padding-left: 70px;
    padding-right: 70px;
    margin-top: 90px;
    
}
.description{
    font-weight: bold;
    font-size: 40px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 70px;
}
.singuporlogin{
    margin-top: 300px;  
    display: flex; 
    font-size: 30px;
   margin-bottom: 90px;
   color: white;
}
.isSing{
    padding: 80px;
    margin-right: 100px;
    margin-left: 100px;
    outline-style:solid;
    background-color: #1a1e24;
    border-radius: 50px;
}
.isLog{
    padding: 80px;
    margin-left: 100px;
    margin-right: 100px;
    outline-style:solid;
    background-color: #1a1e24;
    border-radius: 50px;
}

.contact{
    background-color:  #1a1e24;
    padding-top: 90px;
    color: white;
    outline-style:solid;
    padding-bottom: 90px;
}
.img{
    height: 1100px;
    width: 1600px;
    position: fixed;
    z-index: -1;
}
.isLog .button{
    margin-left: 60px;
    border-radius: 50px;
}
.isSing .button{
    margin-left: 50px;
    border-radius: 50px;
}
.button{
    background-color: #27374D;
    color: white;
    height: 50px;
    width: 180px;
}
.button:focus{
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px #526d82;
    transition: 0.7s;
    font-weight: bold;

}
.button:hover{
    background-color: #DDE6ED;
    color: black;
}
.button:active{
    font-weight: bold;  
}
.nav{
    display: flex;
}
.at{
    background-color: #333;
}